<div class="header-container">
    <div class="btn-container" [hidden]="error">
        <button class="btn" title="Switch to grid view" (click)="gridView(true)"><i class="fa fa-th-large"></i></button>
        <button class="btn" title="Switch to list view" (click)="gridView(false)"><i class="fa fa-bars"></i></button>
    </div>
    <div class="dropdown" [hidden]="error">
        <form [formGroup]="productForm" class="select">
            <select formControlName="filterProduct">
                <option [ngValue]="null" disabled>Select range</option>
                <option *ngFor="let filter of priceFilter" [ngValue]="filter.order">
                    {{ filter.displayText }}
                </option>
            </select>
        </form>
    </div>
</div>
<div class="row">
    <ng-container *ngIf="!isLoading; else isLoadingBlock">
        <div *ngFor="let product of filteredProducts" [ngClass]="grid ? 'col-grid' : 'col-list'">
            <div class="card">
                <img src="{{product.image}}" alt="Denim Jeans">
                <h2>{{product.title | truncate: 10}}</h2>
                <p class="price">${{product.price}}</p>
                <p class="product-desc">{{product.description | truncate: 60}}</p>
                <button>Add to Cart</button>
            </div>
        </div>
    </ng-container>
    <ng-template #isLoadingBlock>
        <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </ng-template>

    <div *ngIf="error" class="error">
        <h1>An error occured</h1>
        <p>{{error}}</p>
    </div>
</div>