.container {
    /* margin-top: 100px; */
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 60px);
    background: #D1E2C4;
}

.container > * {
    flex: 1 1 50%;
    border: 1px solid #ccc;
}