
<div id="container">
    <nav>
        <ul>
            <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a></li> 
            <li appDropdown>WordPress
            <!-- First Tier Drop Down -->
            <ul>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a [routerLink]="['/route-1']" routerLinkActive="router-link-active" >Route 1</a></li>
                <li><a [routerLink]="['/route-2']" routerLinkActive="router-link-active" >Route 2</a></li>
                <li><a [routerLink]="['/route-3']" routerLinkActive="router-link-active" >Route 3</a></li>
                <li><a [routerLink]="['/route-4']" routerLinkActive="router-link-active" >Route 4</a></li>
                <li><a [routerLink]="['/route-5']" routerLinkActive="router-link-active" >Route 5</a></li>
                <li><a [routerLink]="['/route-6']" routerLinkActive="router-link-active" >Route 6</a></li>
            </ul>        
            </li>
        </ul>
    </nav>
    
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>