.nav {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: #fff;
  z-index: 12;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #3d550c;
  padding: 10px 10px 10px 10px;
}

.nav-title a {
  color: #3d550c;
  text-decoration: none;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #3d550c;
}

.nav > .nav-links > a:hover {
  color: #81B622;
}

.nav > #nav-check {
  display: none;
}

.row {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}

.router-link-active {
  border-bottom: 4px solid #3d550c;
  transition: all ease-in-out .2s;
}
