<div class="nav">
  <input type="checkbox" id="nav-check" />
  <div class="nav-header">
    <div class="nav-title">
      <a [routerLink]="['/']">Home</a>
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a [routerLink]="['/route-1']" routerLinkActive="router-link-active"
      >Route 1</a
    >
    <a [routerLink]="['/route-2']" routerLinkActive="router-link-active"
      >Route 2</a
    >
    <a [routerLink]="['/route-3']" routerLinkActive="router-link-active"
      >Route 3</a
    >
    <a [routerLink]="['/route-4']" routerLinkActive="router-link-active"
      >Route 4</a
    >
    <a [routerLink]="['/route-5']" routerLinkActive="router-link-active"
      >Route 5</a
    >
    <a [routerLink]="['/route-6']" routerLinkActive="router-link-active"
      >Route 6</a
    >
  </div>
</div>

<div class="row">
  <router-outlet></router-outlet>
</div>
