
<div id="container">
    <nav>
        <ul>
            <li><a href="#">Home</a></li> 
            <li appDropdown>WordPress
            <!-- First Tier Drop Down -->
            <ul>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/divs">Dynamic divs</a></li>
                <li><a [routerLink]="['/countdown-decorators']" routerLinkActive="router-link-active" >Countdown Decorators</a></li>
                <li><a [routerLink]="['/countdown-subject']" routerLinkActive="router-link-active" >Countdown Subject</a></li>
                <li><a [routerLink]="['/list-grid']" routerLinkActive="router-link-active" >List Grid</a></li>
                <li><a [routerLink]="['/students-table']" routerLinkActive="router-link-active" >Students Table</a></li>
                <li><a href="#">Tutorials</a></li>
            </ul>        
            </li>
        </ul>
    </nav>
    
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>
<!-- <button routerLink="/divs">Dynamic Divs</button>

<router-outlet></router-outlet> -->