<ng-container *ngIf="startPauseClickTimerLogs$ ;else noLogsAvailable">
    <ul> 
        <ng-container *ngFor="let startPauseClickTimerLog of startPauseClickTimerLogs$ | async">
            <li *ngIf="startPauseClickTimerLog?.started">Started at: {{startPauseClickTimerLog.started | date: 'd-M-yyyy, h:mm:ss a'}}</li>
            <li *ngIf="startPauseClickTimerLog?.paused">Paused at: {{startPauseClickTimerLog.paused | date: 'd-M-yyyy, h:mm:ss a'}}</li>
        </ng-container>
    </ul>
</ng-container>

<ng-template #noLogsAvailable>
    <h3>No time Logs available</h3>
</ng-template> 